<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name ="/GENERAL_STORE_APP_TESTING_FRAMEWORK/src/main/java/General_Store_App_Test/GenericUtilities/ListenersUtility.java"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="General_Store_SignUpTest.SignUpTestWithJsonData"/>
      <class name="General_Store_CartPageTest.CartPageTest"/>
      <class name="General_Store_HybridAppOperations.HybridAppTest"/>
      <class name="General_Store_ProductTest.CheckProductInCartTest"/>
      <class name="General_Store_ProductTest.CartProductTotalTest"/>
      <class name="General_Store_SignUpTest.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
